## With pandas

In [1]:
import pandas as pd

In [2]:
# create an array of 5 dates starting at '2020-03-07', one per minute and one per two minutes
rng_1 = pd.date_range('2020-03-07', periods=5, freq='T')
rng_2 = pd.date_range('2020-03-07', periods=5, freq='2T')
df = pd.DataFrame({ 'date1': rng_1, 'date2': rng_2})
df

                date1               date2
0 2020-03-07 00:00:00 2020-03-07 00:00:00
1 2020-03-07 00:01:00 2020-03-07 00:02:00
2 2020-03-07 00:02:00 2020-03-07 00:04:00
3 2020-03-07 00:03:00 2020-03-07 00:06:00
4 2020-03-07 00:04:00 2020-03-07 00:08:00

In [3]:
df['delta'] = df['date2'] - df['date1']
df

                date1               date2    delta
0 2020-03-07 00:00:00 2020-03-07 00:00:00 00:00:00
1 2020-03-07 00:01:00 2020-03-07 00:02:00 00:01:00
2 2020-03-07 00:02:00 2020-03-07 00:04:00 00:02:00
3 2020-03-07 00:03:00 2020-03-07 00:06:00 00:03:00
4 2020-03-07 00:04:00 2020-03-07 00:08:00 00:04:00

## With modin

In [4]:
import modin.pandas as mpd

WARNING: Not monitoring node memory since `psutil` is not installed. Install this with `pip install psutil` (or ray[debug]) to enable debugging of memory-related crashes.

FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.

In [5]:
# create an array of 5 dates starting at '2020-03-07', one per minute and one per two minutes
mrng_1 = mpd.date_range('2020-03-07', periods=5, freq='T')
mrng_2 = mpd.date_range('2020-03-07', periods=5, freq='2T')
mdf = pd.DataFrame({ 'date1': mrng_1, 'date2': mrng_2})
mdf

                date1               date2
0 2020-03-07 00:00:00 2020-03-07 00:00:00
1 2020-03-07 00:01:00 2020-03-07 00:02:00
2 2020-03-07 00:02:00 2020-03-07 00:04:00
3 2020-03-07 00:03:00 2020-03-07 00:06:00
4 2020-03-07 00:04:00 2020-03-07 00:08:00

In [6]:
mdf['delta'] = mdf['date2'] - mdf['date1']
mdf

                date1               date2    delta
0 2020-03-07 00:00:00 2020-03-07 00:00:00 00:00:00
1 2020-03-07 00:01:00 2020-03-07 00:02:00 00:01:00
2 2020-03-07 00:02:00 2020-03-07 00:04:00 00:02:00
3 2020-03-07 00:03:00 2020-03-07 00:06:00 00:03:00
4 2020-03-07 00:04:00 2020-03-07 00:08:00 00:04:00