In [1]:
import pandas as pd

In [3]:
# read the stop arrival and departure times provided by CRTM
df = pd.read_csv('../gtfs/stop_times.txt')

In [4]:
df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,201_8__151___-8__151____1_05:30:00_2_s.__1_8__...,04:30:00,04:30:00,par_8_10614,0,NaN,NaN,NaN,NaN
1,201_8__151___-8__151____1_05:30:00_2_s.__1_8__...,04:31:48,04:31:48,par_8_06762,1,NaN,NaN,NaN,NaN
2,201_8__151___-8__151____1_05:30:00_2_s.__1_8__...,04:32:51,04:32:51,par_8_06766,2,NaN,NaN,NaN,NaN
3,201_8__151___-8__151____1_05:30:00_2_s.__1_8__...,04:33:46,04:33:46,par_8_06767,3,NaN,NaN,NaN,NaN
4,201_8__151___-8__151____1_05:30:00_2_s.__1_8__...,04:34:53,04:34:53,par_8_06768,4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1688833,T_10L_9_i_1__132_-8__412____1_16:15:00_1_412T_...,15:16:00,15:16:00,par_8_15552,1,NaN,NaN,NaN,NaN
1688834,T_10L_9_i_1__132_-8__412____1_16:15:00_1_412T_...,15:17:00,15:17:00,par_8_08009,2,NaN,NaN,NaN,NaN
1688835,T_10L_9_i_1__132_-8__412____1_16:15:00_1_412T_...,15:18:00,15:18:00,par_8_13079,3,NaN,NaN,NaN,NaN
1688836,T_10L_9_i_1__132_-8__412____1_16:15:00_1_412T_...,15:19:00,15:19:00,par_8_16834,4,NaN,NaN,NaN,NaN
1688837,T_10L_9_i_1__132_-8__412____1_16:15:00_1_412T_...,15:20:00,15:20:00,par_8_08015,5,NaN,NaN,NaN,NaN

In [6]:
# let's see how often the values of the arrival times of a line to a particular stop repeat
df[df['trip_id'].str.contains("658")].query("stop_id == 'par_8_17480'")['arrival_time'].value_counts()

16:00:00    8
16:30:00    7
21:30:00    5
12:30:01    5
12:30:00    5
           ..
18:45:00    1
14:15:00    1
16:08:01    1
06:10:00    1
21:45:01    1
Name: arrival_time, Length: 99, dtype: int64